form{
  margin: 50px auto;
  max-width: 300px;
}

.mdl-textfield{
  margin: 0 5px;
  width: 300px;
}

.mdl-data-table{
  margin: 50px auto;
  max-width: 800px;
}

#close{
  margin: 20px 20px 20px 0px;
  border: none;
  background-color: transparent;
  display: block;
  cursor: pointer;
  font-size: 14px;
}

.mdl-button--fab{
  position: absolute;
  right: 10%;
  bottom: 10%;
}

h1{
  text-align: center;
  width: 100%;
}
